@model PrjctMngmt.Models.IssueCategory
           
@{
    ViewBag.Title = "Create issue category";
}

@using (Html.BeginForm("Create", "IssueCategory", FormMethod.Post, new { id = "IssueCategoryForm" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Issue category</legend>

        <div class="editor-label">
            Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IssueCategoryName)
            @Html.ValidationMessageFor(model => model.IssueCategoryName)
        </div>

    </fieldset>
}
