@model PrjctMngmt.Models.Team

@{
    ViewBag.Title = "Team details";
}

<fieldset>
    <legend>Team</legend>
    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamName)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field description-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", "Team", new { TeamName=Model.TeamName })
</p>
<div>
    @Html.ActionLink("Back to teams", "Index")
</div>
