@model IEnumerable<PrjctMngmt.Models.Team>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(function () {
        // there's the developers and the team
        var $developers = $("#developers"),
            $team = $("#team");

        // let the developers items be draggable
        $("li", $developers).draggable({
            cancel: "a.ui-icon", // clicking an icon won't initiate dragging
            revert: "invalid", // when not dropped, the item will revert back to its initial position
            helper: "clone",
            cursor: "move"
        });

        // let the team be droppable, accepting the developers' items
        $team.droppable({
            accept: "#developers > li",
            activeClass: "ui-state-highlight",
            drop: function (event, ui) {
                deleteImage(ui.draggable);
            }
        });

        // let the developers be droppable as well, accepting items from the team
        $developers.droppable({
            accept: "#team li",
            activeClass: "custom-state-active",
            drop: function (event, ui) {
                recycleImage(ui.draggable);
            }
        });

        // image deletion function
        var recycle_icon = "<a href='link/to/recycle/script/when/we/have/js/off'
         title='Recycle this image' class='ui-icon ui-icon-refresh'>Recycle image</a>";
        function deleteImage($item) {
            $item.fadeOut(function () {
                var $list = $("ul", $team).length ?
					$("ul", $team) :
					$("<ul class='developers ui-helper-reset'/>").appendTo($team);
                $item.append(recycle_icon).appendTo($list).fadeIn(function () { });
            });
        }

        // image recycle function
        function recycleImage($item) {
            $item.fadeOut(function () {
                $item
					.find("a.ui-icon-refresh")
						.remove()
					.end()
					.css("width", "96px")
					.find("img")
						.css("height", "72px")
					.end()
					.appendTo($developers)
					.fadeIn();
            });
        }

        // resolve the icons behavior with event delegation
        $("ul.developers > li").click(function (event) {
            var $item = $(this),
				$target = $(event.target);
            if ($target.is("a.ui-icon-refresh")) {
                recycleImage($item);
            }
            return false;
        });
    });
</script>

<div class="ui-widget ui-helper-clearfix">
    <ul id="developers" class="developers ui-helper-reset ui-helper-clearfix">
    @foreach (var dev in (List<string>)ViewData["Developers"])
    {
       	<li class="ui-widget-content ui-corner-tr">
            @dev
        </li>
    }
    </ul>
    <div id="team" class="ui-widget-content">
    </div>
</div>