@model IEnumerable<PrjctMngmt.Models.Team>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(function () {
        // there's the developers and the team
        var $developers = $(".developers"),
            $teams = $(".team");

        // let the developers items be draggable
        $("li", $developers).draggable({
            cancel: "a.ui-icon", // clicking an icon won't initiate dragging
            revert: "invalid", // when not dropped, the item will revert back to its initial position
            helper: "clone",
            cursor: "move"
        });

        // let the team be droppable, accepting the developers' items
        $teams.droppable({
            accept: ".developers > li",
            hoverClass: "ui-state-highlight",
            drop: function (event, ui) {
                deleteImage(ui.draggable);
            }
        });

        // add developer to team function
        var removeMember = "<a href='link/to/recycle/script/when/we/have/js/off' title='Remove member' class='ui-icon ui-icon-remove'>Remove member</a>";
        function deleteImage($item) {
            $item.fadeOut(function () {
                var targetElem = $(this).attr("id");
                var $list = $($teams).length ?
					$($teams) :
					$("<ul class='developers ui-helper-reset'/>").appendTo(targetElem);
                if ($item.hasOwnProperty(removeMember)) {
                }
                else {
                    $item.append(removeMember);
                }
                $item.appendTo($list).fadeIn(function () { });
                /*
                var $list = $("ul", $teams).length ?
                $("ul", $teams) :
                $("<ul class='developers ui-helper-reset'/>").appendTo(targetElem);
                $item.append(removeMember).appendTo($list).fadeIn(function () { });
                */
            });
        }

        // remove developer from the team
        function recycleImage($item) {
            $item.fadeOut(function () {
                $item
					.find("a.ui-icon-remove")
						.remove()
					.end()
					.css("width", "96px")
					.find("img")
						.css("height", "72px")
					.end()
					.appendTo($developers)
					.fadeIn();
            });
        }

        // resolve the icons behavior with event delegation
        $("ul.developers > li").click(function (event) {
            var $item = $(this),
				$target = $(event.target);
            if ($target.is("a.ui-icon-remove")) {
                recycleImage($item);
            }
            return false;
        });
    });
</script>

<div class="ui-widget ui-helper-clearfix">
    <ul class="developers ui-helper-reset ui-helper-clearfix">
        @foreach (var dev in (List<string>)ViewData["Developers"])
        {
            <li id="@dev" class="ui-widget-content ui-corner-tr">
                @dev
            </li>
        }
    </ul>
    @foreach (var team in Model)
    {
        <div id="@team.TeamName" class="team ui-widget-content">
            <p>@team.TeamName</p>
        </div>
    }
</div>
