/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body 
{
    width: 100%;
    height: 100%;
    background-color: #548033;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    
    background-image: url("../../Content/themes/base/images/floral_bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #f5f5f5; /*#fff;*/
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer 
{
    background-color: #f5f5f5;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    /*border-bottom: 1px #5C87B2 solid;*/
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
    font-size: 1.2em;    
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: /*transparent;*/ /*#1d3137;*/ #e1e1e1;
    background-color:rgba(158,188,144,0.5);
    color: #ffffff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: /*transparent;*/ /*#3c8da4;*/ /*#1d3137;*/ #427c47;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: transparent; /*#000000;*/
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #3c8da4;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/
/*
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}
*/

.datagrid 
{
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #DBDBDB; 
    -webkit-border-radius: 13px; 
    -moz-border-radius: 13px; 
    border-radius: 13px;
    display: inline-block;
}
.datagrid table 
{
    border-collapse: collapse; 
    text-align: left; 
    
} 
.datagrid table td, .datagrid table th 
{ 
    padding: 4px 10px; 
}
.datagrid table thead th 
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BBE6A5), color-stop(1, #36A126) );
    background:-moz-linear-gradient( center top, #BBE6A5 5%, #36A126 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBE6A5', endColorstr='#36A126');
    background-color:#BBE6A5;
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold;
} 
.datagrid table thead th:first-child 
{ 
    border: none; 
}
.datagrid table tbody td 
{ 
    color: #000000; 
    font-size: 12px;
    font-weight: normal; 
}
.datagrid table tbody .alt td 
{ 
    background: #E1F4D2; 
    color: #000000; 
}
.datagrid table tbody td:first-child 
{
     border: none; 
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 10px;
}

div#title {
    display: block;
    /*
    background-image: url("../../Content/themes/base/images/title_bg.png");
    background-repeat: repeat-x;
    */
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    color: white;
    background-color:rgba(27,57,29,0.6);
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 100px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 100px;
    /*background-color: #1b391d;*/
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label {
    margin: 1em 0 0 0;
    width: 150px;
    font-weight: bold;
    float: left;    
    clear: left;
} 

.display-field {
    margin: 1em 0 0 0;
    width: 150px;
    height: 1em;
    float: left;
    clear: right;
}

.description-field {
    width: 80%;
    height: 50%;
}

.editor-label {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* Note
----------------------------------------------------------*/
.note {
    width: 200px;
    height: 286px;
    font-size: 10px;
    background-image: url("../../Content/themes/base/images/note.png");
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    display: inline-block;
    padding-bottom: 40px;
}

.note-content {
    margin: 50px 15px 0px 15px;
    overflow: hidden;
    height: 210px;
    width: 170px;
    position: absolute;
}

#note-tab 
{
    height: 100%;
    width: 100%;
    position: relative;
}

#tabs {
    height: 670px;
}

.removeNote {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    right: -6px;
    top: 20px;
}

/* Task
----------------------------------------------------------*/
.taskTable {
    border-width: 0px;
    border-spacing: 0px;
    border-style: none;
}

.taskTd {
    border-width: 0px;
    padding: 0px 20px 2px 0px;
}

#tabs-tasks
{
    min-height: 250px;
}

/* Dashboard
----------------------------------------------------------*/
#task-pie-chart {
    float: left;
}

.dashboard-entity {
    width: 300px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

/* Team
----------------------------------------------------------*/
.developers.custom-state-active 
{ 
    background: #eee; 
}

.developers li 
{
    float: left; 
    padding: 0.4em 0 0.4em 0.4em; 
    margin: 0 0.4em 0.4em 0; 
    text-align: center; 
}

.developers li a 
{ 
    float: right;
}

.teams
{
    float: left; 
    width: 15%;
    min-height: 5em; 
    padding: 1%;
    margin: 1%;
} 
* html .teams
{ 
    height: 5em;
} /* IE6 */

.teams .developers h5
{ 
    display: none;
}

.teamTitle 
{
    color: Black;
    font-weight: bold;
    font-size: small;
    padding: 5px 0px 5px 5px;
}

.devLi 
{
    list-style-type: none;
}

.recycleIcon
{   
    width: 16px;
    height: 16px;
    float: right;
    background-image: url("../../Content/themes/base/images/recycle.png");
    background-repeat: no-repeat;
}

#confirmTeamdelete #confirmDevDelete
{
    float: left;
    margin: 0 7px 20px 0;
}

/* Shared
----------------------------------------------------------*/
.ButtonLink 
{
    cursor:pointer;
}

.Hidden 
{ 
    display:none; 
}

.Top 
{ 
    vertical-align: top; 
}

.removeIcon
{
    float: right;
    padding-right: 5px;
}
    
.detailIcon
{
    float: right;
    padding-right: 5px;
    padding-left: 5px;
}

.editIcon
{
    float: right;
    padding-left: 5px;
}



