.developers.custom-state-active 
{ 
    background: #eee; 
}

.developers li 
{
    float: left; 
    width: 96px; 
    padding: 0.4em; 
    margin: 0 0.4em 0.4em 0; 
    text-align: center; 
}

.developers li a 
{ 
    float: right;
}

.team 
{
    float: left; 
    width: 20%; 
    min-height: 5em; 
    padding: 1%;
    margin: 1%;
} 
* html .team
{ 
    height: 5em;
} /* IE6 */

.team .developers h5
{ 
    display: none;
}