@model PrjctMngmt.Models.IssueAssignment

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Issue assignment</legend>

        <p>All fields required.</p>

        <div class="editor-label">
            Issue
        </div>
        <div class="editor-field">
            @Html.DropDownList("IssueID", (IEnumerable<SelectListItem>) ViewData["Issues"], "")
        </div>

        <div class="editor-label">
            Developer
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeveloperID", (IEnumerable<SelectListItem>) ViewData["Developers"], "")
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Issues", "Index", "Issue")
</div>
