@model PrjctMngmt.Models.TaskCategory

<fieldset>
    <legend>Task category</legend>
    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Name })
</p>
<div>
    @Html.ActionLink("Back to tasks", "Index", "Task")
</div>
