@model IEnumerable<PrjctMngmt.Models.Note>

@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
	<ul>
        @foreach (var proj in (List<PrjctMngmt.Models.Project>)ViewData["Projects"])
        {
		    <li><a href="#@proj.Name">@proj.Name</a></li>
        }
	</ul>
    @foreach (var proj in (List<PrjctMngmt.Models.Project>)ViewData["Projects"])
    {
	    <div id="@proj.Name">
            <!-- List project's notes here -->
            @foreach (var item in Model) {
                if(item.ProjectID == proj.ProjectID) {
                    @item.Data;  
                    <br />
                }  
            }
	    </div>
    }
</div>
