@model PrjctMngmt.Models.TaskAssignment

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Task assignment</legend>

        <p>All fields required.</p>

        <div class="editor-label">
            Task
        </div>
        <div class="editor-field">
            @Html.DropDownList("TaskID", (IEnumerable<SelectListItem>) ViewData["Tasks"], "")
        </div>

        <div class="editor-label">
            Developer
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeveloperID", (IEnumerable<SelectListItem>) ViewData["Developers"], "")
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
