@model PrjctMngmt.Models.ProjectCategory

@using (Html.BeginForm("Create", "ProjectCategory", FormMethod.Post, new { id = "ProjectCategoryForm" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Project category</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

    </fieldset>
}
